In [1]:
print("hello")

hello

In [2]:
print("hello\
python")

hellopython

In [3]:
print('hello python')

hello python

In [4]:
print("python's world")

python's world

In [5]:
print("hello\tnik")

hello	nik

In [6]:
print("python\nworld")

python
world

In [7]:
print('pthon\'s world')

pthon's world

In [13]:
name="abc"
age=12
marks=22
print("the name of the person %s marks is %f age is %d"%(name,marks,age))

the name of the person abc marks is 22.000000 age is 12

In [16]:
print(f"the name of the person is(name) the marks is (marks)the age is(age)")

the name of the person is(name) the marks is (marks)the age is(age)

In [19]:
a=10
_=90

In [20]:
a=20
id(a)

140721350222832

In [21]:
b=20
id(20)

140721350222832

In [22]:
6**2

36

In [26]:
10*19

190

In [27]:
10/2

5.0

In [28]:
10%4

2

In [29]:
10//3

3

In [30]:
a=12
b=13
a==b

False

In [31]:
a<b

True

In [32]:
a>b

False

In [33]:
c=34
a>=c

False

In [34]:
a=240
b=1
a|b

241

In [35]:
a&b

0

In [36]:
a=1
b=20
a>20

False

In [37]:
a>20 or 10>9

True

In [39]:
str1="python"
"c" in str1

False

In [49]:
a=4.2
b=4.2
a == b

True

In [50]:
a is b

False

In [51]:
b is a

False

In [52]:
2**-1

0.5

In [53]:
10>8>9

False